{% extends "base.html" %}

{% load static %}

{% block title %}关于我们{% endblock %}

{% block content %}

<div class="row text-center">
  <h1 style="font-family: '微软雅黑'; margin-bottom: 30px">꧁༺成员简介༻꧂</h1>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'images/us/tanlaoban.jpg' %}" alt="谭老板">
      <div class="caption">
        <h3>谭老板</h3>
        <p>老板气质，秀才样貌</p>
        <p><a href="#" class="btn btn-primary" role="button">点赞</a> <a href="Tan" class="btn btn-default" role="button">详情</a></p>
      </div>
  </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'images/us/guolaoshi.jpg' %}" alt="郭老师">
      <div class="caption">
        <h3>郭老师</h3>
        <p>教书育人，一代大师</p>
        <p><a href="#" class="btn btn-primary" role="button">点赞</a> <a href="Guo" class="btn btn-default" role="button">详情</a></p>
      </div>
  </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'images/us/qiushifu.jpg' %}" alt="邱师傅">
      <div class="caption">
        <h3>邱师傅</h3>
        <p>技艺精湛，前无古人</p>
        <p><a href="#" class="btn btn-primary" role="button">点赞</a> <a href="Qiu" class="btn btn-default" role="button">详情</a></p>
      </div>
  </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'images/us/mengzhu.jpg' %}" alt="盟主">
      <div class="caption">
        <h3>盟主</h3>
        <p>一统天下，为我独尊</p>
        <p><a href="#" class="btn btn-primary" role="button">点赞</a> <a href="Wu" class="btn btn-default" role="button">详情</a></p>
      </div>
  </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'images/us/liuzuzhang.jpg' %}" alt="刘组长">
      <div class="caption">
        <h3>刘组长</h3>
        <p>混世魔王，混吃等死</p>
        <p><a href="#" class="btn btn-primary" role="button">点赞</a> <a href="Liu" class="btn btn-default" role="button">详情</a></p>
      </div>
  </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'images/us/bosi.jpg' %}" alt="博士">
      <div class="caption">
        <h3>博士</h3>
        <p>严谨博学，性格乖张</p>
        <p><a href="#" class="btn btn-primary" role="button">点赞</a> <a href="bosi" class="btn btn-default" role="button">详情</a></p>
      </div>
  </div>
  </div>
</div>
</div>


{% endblock %}

