{% extends "base.html" %}

{% block title %}blog titles{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>博客</h1>
</div>

<div class="row">
    <div class="col-xs-12 col-md-8">
        <ul>
            {% for blog in blogs %}
                <li><a href="/blog/{{ blog.id }}">{{ blog.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-xs-6 col-md-4">
        <h2>侧边栏</h2>
        <p>推荐以下内容</p>
        <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fcdn2.ettoday.net%2Fimages%2F3259%2Fd3259025.jpg&refer=http%3A%2F%2Fcdn2.ettoday.net&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1633070929&t=b737a8f2d9a933d9514d131bff097205" alt="" width="200px">
    </div>
</div>



{% endblock %}