{% load static %}

<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'sigin.css' %}">
    <script src="{% static 'jquery-3.3.1.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>

    <div class="container">
        <form action="" method="post" class="form-signin">
            {% csrf_token %}
            <h2 class="form-signin-heading">请登录</h2>
            <p></p>  <p></p>

            <label for="username" class="sr-only">用户名</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="请输入用户名" required autofocus>
            <p></p> <p></p>

            <label for="password" class="sr-only">密  码</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
            <p class="login-error">{{ error }}</p>
        </form>
    </div>
<!--container-->

</body>
</html>